/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #433;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
p {
   line-height: 1.4em;
   margin: 30px 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #300;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html {
  background: rgb(243, 243, 238) url('background.jpg');
  height: 100%;
}
body {
    font-family: "Austin Text Web", serif;
    line-height: 1.5em;
    color: #300;
    background: transparent;
    min-width: 440px;
    max-width: 760px;
    margin: 0 auto;
    text-rendering: optimizelegibility;
}

@media (max-width: 639px) {
  body { font-size: 20px; padding: 0 20px; }
}
@media (min-width: 640px) and (max-width: 739px) {
  body { font-size: 22px; padding: 0 40px; }
}
@media (min-width: 740px) {
  body { font-size: 24px; padding: 0 80px; }
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 60px 0 20px;
  line-height: 0.9em;
  color: #433;
  clear: both;
  font-family: "Duplicate Slab Web", serif;
}
h1 {
  font-size: 2.5em;
  margin: 30px 0;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1em;
  text-transform: uppercase;
}
h1 a {
  color: inherit;
  text-decoration: none;
}
a {
  color: #0ad;
}
a:hover {
  color: #09b;
}
blockquote {
   margin-left : 0;
   padding-left: 20px;
   border-left: 5px solid rgba(20,0,0,0.25);
   color: #766;
}
img {
  width: 48%;
  margin: 0 4% 15px 0;
  float: left;
  border: 1px solid #433;
  box-shadow: 2px 2px 0 rgb(241, 241, 241), 5px 5px 0 #433;
  background: #fff; 
}
img.right {
  float: right;
  margin: 0 5px 15px 20px;
}
img.full {
  width: 98%;
  float: none;
  margin: 10px 0;
}
hr {
  margin: 20px 200px;
  border-width: 0px;
  border-bottom: 1px solid #433;
}
time {
  display: block;
  text-align: center;
  height: 1em;
  font-size: 0.85em;
  line-height: 1em;
  font-style: italic;
}
time::before, time::after {
  content: '';
  display: block;
  height: 0; width: 33%;
  border-top: 1px solid #766;
  border-bottom: 1px solid #fff;
  margin-top: 0.5em;
}
time::before { float: left; }
time::after { float: right; }

@media (min-width: 1200px) {
  time:before, time:after { display: none; }
  .main header { position: relative; }
  header time {
    text-align: right;
    width: 300px;
    position: absolute;
    top: 4px;
    left: -330px;
    color: #766;
    font-size: 0.8em;
    -ms-transform-origin: 300px 0;
    -ms-transform: rotate(-90deg) translateY(-30px);
    -webkit-transform-origin: 300px 0;
    -webkit-transform: rotate(-90deg) translateY(-30px);
    transform-origin: 300px 0;
    transform: rotate(-90deg) translateY(-30px);
  }
}

.header-nav {
  position: absolute;
  right: 0;
  top: 20px;
}
.header-container {
  position: relative;
  padding: 15px 0;
  border-bottom: 4px solid #433;
}
.header-container h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  font-weight: normal;
  float: left;
}
.header-container h2 {
  position: absolute;
  bottom: 20px; right: 0;
  font-size: 18px;
  margin: 0;
  font-family: "Austin Text Web", serif;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
}
article {
  padding-bottom: 20px;
  border-bottom: 5px solid #433; 
  margin-bottom: 20px;
}
article::after {
  content: '';
  display: block;
  height: 1px;
  border: 1px solid #fff;
  border-width: 1px 0;
  position: relative;
  top: 24px;
}
.archive-article-list, .archive-article-list li {
  margin: 0; padding: 0; list-style: none;
}
.archive-article-list h1 {
  font-size: 32px;
}
.archive-article-list li {
  padding: 45px 0 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #666;
}
.archive-article-list li:last-child {
  border-bottom: none;
}
.archive-article-list time {
  text-align: left;
  font-size: 16px;
  margin-bottom: -30px;
}
.archive-article-list time::before, .archive-article-list time::after {
  display: none;
}
.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
  color: inherit;
}
.pagination .page_number {
  padding: 0 20px;
}

.footer-container {
  border-top: 4px solid #433;
  margin-top: 40px;
  padding: 20px 0;
}
.footer-left, .footer-right {
  margin: 0;
}
.footer-left { float: left; font-size: 16px; }
.footer-right { float: right; text-align: right; }
nav ul {
  padding: 0; margin: 0;
}
nav li {
  display: inline;
  padding: 0; 
  margin: 0 0 0 15px;
  list-style: none;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: inherit;
}
.sharebar {
  margin: 40px 0 20px;
  text-align: center;
}
.sharebar a {
  margin: 0 10px;
}



/* ==========================================================================
   Cruft
   ========================================================================== */
pre, code, .highlight, .code {
    font-family: "Source Code Pro", monospace;
}
pre {
    font-size: 16px;
    line-height: 20px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}
.highlight, .code {
  padding-left: 20px;
  border-left: 5px solid #999;
  margin-left: 1px;
  font-size: 16px;
}
code {
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0 3px;
  border-radius: 6px;
}
pre code {
  background: none;
  border: none;
}


/* ==========================================================================
   Mobile Version
   ========================================================================== */

@media only screen and (max-width: 768px) {
  
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clear {
  clear: both;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




