---
layout: default
title: Jiaaro (on life, the universe, & everything)
---

{% for post in paginator.posts %}
  <article>
      {% assign content = post.content %}
      {% include post_content.html %}
  </article>
  <div class="clear"></div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">◀</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">◀</a>
    {% endif %}
  {% else %}
    <span class="previous">◃</span>
  {% endif %}
  <span class="page_number ">page {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">▶</a>
  {% else %}
    <span class="next">▷</span>
  {% endif %}
</div>
