<header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <time>{{ post.date | date: "%B %d, %Y" }}</time>
</header>
<section>
    {{ content }}
</section>
<footer>
    <div class="sharebar">
      <strong>⬆⬆⬆ Share this ⬆⬆⬆</strong><br> 
      <a data-network="twitter" data-title="{{ post.title | uri_escape }}" href="http://twitter.com/home?status={{ post.title | cgi_escape }} {{ site.url | cgi_escape }}{{ post.url | cgi_escape }} @jiaaro" target="_blank">twitter</a>
      <a data-network="hacker news" data-title="{{ post.title | uri_escape }}"href="http://news.ycombinator.com/submitlink?u={{ site.url | cgi_escape }}{{ post.url | cgi_escape }}&t={{ post.title | cgi_escape }}" target="_blank">hacker news</a>
      <a data-network="email" data-title="{{ post.title | uri_escape }}"href="mailto:?subject={{ post.title | uri_escape }} ({{ site.name | uri_escape }})&body=%0a%0a%0a%0a%0a{{ post.title | uri_escape }}%0a{{ site.url | cgi_escape }}{{ post.url | cgi_escape }}">email</a>
    </div>
</footer>
